* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, #root {
  width: 100%;
}

.post-container {
  padding: clamp(4rem, 2vw, 3rem) clamp(2rem, 2vw, 3rem);
  display: flex;
  flex-direction: column;
  justify-self: center;
  font-size: 1.2rem;
}

.input-section {
  display: flex;
  gap: 2rem;
}

.input-section input {
  flex: 6;
  padding: 1rem;
  font-size: 1.3rem;
}

.input-section button {
  flex: 2;
  padding: 1rem 2rem;
  cursor: pointer;
  font-size: 1.2rem;
}

.comments-section {
  display: flex;
  align-self: center;
  flex-direction: column;
  gap: 2rem;
  width: 100%;
}

.comment {
  background-color: gray;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.comment-description-add-reply {
  display: flex;
  width: 100%;
}

.comment-description {
  flex: 2;
}

.add-reply {
  flex: 1;
  cursor: pointer;
}

.see-replies {
  color: rgb(38, 38, 229);
  cursor: pointer;
}