:root {}

body {
  background: linear-gradient(135deg, rgba(214, 219, 246, 0.699) 80%, rgba(4, 46, 255, 0.749));
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.sort-img-container {
  width: 25px;
  height: 25px;
}

.sort-img-container img {
  width: 100%;
  height: 100%;
}

table,
td,
th {
  border-collapse: collapse;
  border: 2px solid black;
  border-spacing: 0 !important;
}

th,
td {
  width: 120px;
  min-width: 150px;
  max-width: 260px;
  height: 35px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow-x: hidden;
  padding-inline: 8px;
  font-size: .75rem;
  letter-spacing: 1px;
  word-spacing: 3px;
  background-color: rgb(255, 255, 255);

}

th {
  scrollbar-width: none;
  overflow: hidden;
  background-color: rgb(75, 75, 95);
  color: white;
  position: relative;
  cursor: pointer;
}

th:not(:nth-child(10))::after {
  content: '';
  position: absolute;
  width: 20px;
  height: 15px;
  background: url(images/up-arrow.png) no-repeat center;
  background-size: contain;
  right: 4px;
}

th div:nth-child(1) {
  display: flex;
  width: 100%;
  justify-content: center;
  text-align: center;
}

td {
  text-align: center;
}

h1 {
  text-align: center;
  margin: 30px;
  color: blue;
}

.table-container {
  overflow-x: scroll;
  margin: 20px;
  scrollbar-width: none;
  border: .5px solid black;
  background-color: black;
}


table {
  border-radius: 3px;
  overflow: hidden;
}

.page-number {
  padding-left: 20px;
  color: blue;
}

.pagenation-container {
  margin: 20px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 40px;
}

.pagenation-container .numbers {
  width: 70%;
}

.pagenation-container button {
  padding: .75em 2rem;
  font-size: 1rem;
  cursor: pointer;
  color: white;
  background-color: blue;
  border: 1.4px solid rgb(54, 48, 48);
  border-radius: 3px;

}

.pagenation-container button:disabled {
  background-color: rgba(75, 73, 73, 0.295);
}

.numbers {
  display: flex;
  justify-content: space-around;
}

.numbers span {
  background-color: white;
  color: blue;
  padding: 10px 20px;
  border-radius: 3px;
  cursor: pointer;
  border: 1.5px solid black;

}