:root{

}

body{
  background: rgba(214, 219, 246, 0.699);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.sort-image-container {
  width: 25px;
  height: 25px;
}

.sort-image-container img{
  width: 100%;
  height: 100%;
}

table, td, th{
  border: 1px solid black;
  border-collapse: collapse;
}

th, td {
  width: 150px;
  min-width: 150px;
  max-width: 300px;
  height: 50px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow-x: hidden;
  padding-inline: 10px;
}

th{
  scrollbar-width: none;
  overflow: hidden;
  background-color: blue;
  color: white;
}

th div:nth-child(1) {
  background-color: rgba(255, 0, 0, 0.358);
  display: flex;
  width: 100%;
  justify-content: center;
  text-align: center;
}

td {
  text-align: center;
}

h1{
  text-align: center;
  margin: 30px;
  color: blue;
}

.table-container {
  overflow-x: scroll;
  margin: 20px;
  scrollbar-width: none;
}

table {
  border-radius: 10px;
}

.page-number {
  padding-left: 20px;
  color: blue;
}

.pagenation-container {
  margin: 20px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 40px;
}

.pagenation-container .numbers {
  width: 70%;
}

.pagenation-container button {
  padding: .75em 2rem;
  font-size: 1rem;
  cursor: pointer;
  color: blue;
  background-color: rgba(255, 255, 255, 0.836);
  border: 1.5px solid rgb(54, 48, 48);
  border-radius: 10px;
}

.pagenation-container button:disabled {
  background-color: rgba(75, 73, 73, 0.295);
}

.numbers {
  display: flex;
  justify-content: space-around;
}

.numbers span {
  background-color: white;
  color: blue;
  padding: 10px 20px;
  border-radius: 10px;
  cursor: pointer;
  border: 1.5px solid black;
}