:root{

}

body{
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.863), rgba(0, 0, 255, 0.639));
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.sort-image-container {
  width: 25px;
  height: 25px;
  background-color: rgb(255, 8, 8);
}

.sort-image-container img{
  width: 100%;
  height: 100%;
}

table, td, th{
  border: 1px solid black;
  border-collapse: collapse;
}

th, td {
  width: 150px;
  min-width: 150px;
  max-width: 300px;
  height: 50px;
  background-color: rgba(255, 0, 0, 0.263);
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow-x: hidden;
  padding-inline: 10px;
}

th{
  scrollbar-width: none;
  overflow: hidden;
}

th div:nth-child(1) {
  background-color: rgba(255, 0, 0, 0.358);
  display: flex;
  width: 100%;
  justify-content: center;
  text-align: center;
}

td {
  text-align: center;
}

h1{
  text-align: center;
  margin: 30px;
  color: blue;
}

.table-container {
  overflow-x: scroll;
  margin: 20px;
  scrollbar-width: none;
}

table {
  border-radius: 10px;
}

.page-number {
  padding-left: 20px;
  color: blue;
}